/* Theme Colors */
:root {
  --theme-color: #0a74da; /* Default theme color */
  --theme-color-light: #f8f9fa; /* Light theme color */
  --theme-color-dark: #212529; /* Dark theme color */
  --theme-color-accent: #00c4ff; /* Accent color */
  --header-link-color: #fff;
  
  /* Footer-specific variables */
  --footer-white: #ffffff;
  --footer-light-gray: #c8c8cd;
  --footer-dark-gray: #191919;
  --footer-text: #191919;
}

body {
  background-color: #fff !important;
  color: #212529 !important;
}

.theme-cold-war {
  --theme-color: #dc3545;
}

.theme-ww2 {
  --theme-color: #9c800f;
}

.theme-black-ops {
  --theme-color: #f96800;
}

.theme-infinite-warfare {
  --theme-color: #ffff02;
  --header-link-color: #000;
}

.theme-waw {
  --theme-color: #6c757d;
}

.theme-mw2 {
  --theme-color: #79c22b;
}

.theme-warzone,
.theme-mwr {
  --theme-color: #198754 !important;
}

.theme-mw3,
.theme-vanguard {
  --theme-color: #dc3545 !important;
}

#site-header {
  background: var(--theme-color) !important;
  margin-bottom: 25px;
}

#site-header a {
  color: var(--header-link-color) !important;
}

.cod-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

/* Cutom Button Colors */
/* Black Ops Orange - #F96800 */
.btn-black-ops {
  color: #ffffff !important;
  background-color: #f96800 !important;
  border-color: #f96800 !important;
}

.btn-black-ops:hover,
.btn-black-ops:focus,
.btn-black-ops:active,
.btn-black-ops.active,
.open .dropdown-toggle.btn-black-ops {
  color: #ffffff !important;
  background-color: #e05d00;
  border-color: #f96800 !important;
}

.btn-black-ops:active,
.btn-black-ops.active,
.open .dropdown-toggle.btn-black-ops {
  background-image: none;
}

.btn-black-ops.disabled,
.btn-black-ops[disabled],
fieldset[disabled] .btn-black-ops,
.btn-black-ops.disabled:hover,
.btn-black-ops[disabled]:hover,
fieldset[disabled] .btn-black-ops:hover,
.btn-black-ops.disabled:focus,
.btn-black-ops[disabled]:focus,
fieldset[disabled] .btn-black-ops:focus,
.btn-black-ops.disabled:active,
.btn-black-ops[disabled]:active,
fieldset[disabled] .btn-black-ops:active,
.btn-black-ops.disabled.active,
.btn-black-ops[disabled].active,
fieldset[disabled] .btn-black-ops.active {
  background-color: #f96800 !important;
  border-color: #f96800 !important;
}

.btn-black-ops .badge {
  color: #f96800 !important;
  background-color: #ffffff !important;
}

/* Modern Warfare 2 Green - #79C22B */
.btn-mw2 {
  color: #ffffff !important;
  background-color: #79c22b !important;
  border-color: #79c22b !important;
}

.btn-mw2:hover,
.btn-mw2:focus,
.btn-mw2:active,
.btn-mw2.active,
.open .dropdown-toggle.btn-mw2 {
  color: #ffffff !important;
  background-color: #5f9822 !important;
  border-color: #79c22b !important;
}

.btn-mw2:active,
.btn-mw2.active,
.open .dropdown-toggle.btn-mw2 {
  background-image: none;
}

.btn-mw2.disabled,
.btn-mw2[disabled],
fieldset[disabled] .btn-mw2,
.btn-mw2.disabled:hover,
.btn-mw2[disabled]:hover,
fieldset[disabled] .btn-mw2:hover,
.btn-mw2.disabled:focus,
.btn-mw2[disabled]:focus,
fieldset[disabled] .btn-mw2:focus,
.btn-mw2.disabled:active,
.btn-mw2[disabled]:active,
fieldset[disabled] .btn-mw2:active,
.btn-mw2.disabled.active,
.btn-mw2[disabled].active,
fieldset[disabled] .btn-mw2.active {
  background-color: #79c22b !important;
  border-color: #5f9822 !important;
}

.btn-mw2 .badge {
  color: #79c22b !important;
  background-color: #ffffff !important;
}

/* Infinite Warfare - #FFFF02 */
.btn-infinite-warfare {
  color: #000 !important;
  background-color: #ffff02 !important;
  border-color: #ffff02 !important;
}

.btn-infinite-warfare:hover,
.btn-infinite-warfare:focus,
.btn-infinite-warfare:active,
.btn-infinite-warfare.active,
.open .dropdown-toggle.btn-infinite-warfare {
  color: #000 !important;
  background-color: #e6e600 !important;
  /* New yellow */
  border-color: #ffff02 !important;
}

.btn-infinite-warfare:active,
.btn-infinite-warfare.active,
.open .dropdown-toggle.btn-infinite-warfare {
  background-image: none;
}

.btn-infinite-warfare.disabled,
.btn-infinite-warfare[disabled],
fieldset[disabled] .btn-infinite-warfare,
.btn-infinite-warfare.disabled:hover,
.btn-infinite-warfare[disabled]:hover,
fieldset[disabled] .btn-infinite-warfare:hover,
.btn-infinite-warfare.disabled:focus,
.btn-infinite-warfare[disabled]:focus,
fieldset[disabled] .btn-infinite-warfare:focus,
.btn-infinite-warfare.disabled:active,
.btn-infinite-warfare[disabled]:active,
fieldset[disabled] .btn-infinite-warfare:active,
.btn-infinite-warfare.disabled.active,
.btn-infinite-warfare[disabled].active,
fieldset[disabled] .btn-infinite-warfare.active {
  background-color: #ffff02 !important;
  border-color: #ffff02 !important;
}

.btn-infinite-warfare .badge {
  color: #ffff02 !important;
  background-color: #000 !important;
}

/* WW2 */
.btn-ww2 {
  color: #ffffff !important;
  background-color: #9c800f !important;
  border-color: #9c800f !important;
}

.btn-ww2:hover,
.btn-ww2:focus,
.btn-ww2:active,
.btn-ww2.active,
.open .dropdown-toggle.btn-ww2 {
  color: #ffffff !important;
  background-color: #7d6710 !important;
  border-color: #9c800f !important;
}

.btn-ww2:active,
.btn-ww2.active,
.open .dropdown-toggle.btn-ww2 {
  background-image: none;
}

.btn-ww2.disabled,
.btn-ww2[disabled],
fieldset[disabled] .btn-ww2,
.btn-ww2.disabled:hover,
.btn-ww2[disabled]:hover,
fieldset[disabled] .btn-ww2:hover,
.btn-ww2.disabled:focus,
.btn-ww2[disabled]:focus,
fieldset[disabled] .btn-ww2:focus,
.btn-ww2.disabled:active,
.btn-ww2[disabled]:active,
fieldset[disabled] .btn-ww2:active,
.btn-ww2.disabled.active,
.btn-ww2[disabled].active,
fieldset[disabled] .btn-ww2.active {
  background-color: #9c800f !important;
  border-color: #9c800f !important;
}

.btn-ww2 .badge {
  color: #9c800f !important;
  background-color: #ffffff !important;
}
