/* Sticky Footer */
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

.black-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-subtitle {
  font-size: 0.75rem;
  display: block;
  margin-top: -0.2rem;
}

.beta-banner {
  position: absolute;
  top: 5px; /* Adjust as needed */
  left: -15px; /* Adjust as needed */
  background-color: rgba(255, 0, 0, 0.5); /* Red with 50% opacity */
  color: black;
  padding: 1px 8px;
  font-size: 0.7rem;
  border-radius: 4px;
  z-index: 10;
  transform: rotate(-45deg);
  white-space: nowrap;
}

/* Material Styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.navbar {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  /* Material Design shadow */
  font-family: "Roboto", sans-serif;
  /* Use Roboto font */
}

.navbar-brand {
  font-weight: 500;
  /* Slightly bolder font weight */
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
  /* Adjust padding as needed */
}

.btn {
  font-weight: 500;
  /* Medium font weight */
  border-radius: 2px;
  /* Slightly rounded corners */
  transition: box-shadow 0.2s ease-in-out;
  /* Add a transition for the shadow */
}

/* Hover state */
.btn:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  /* Material  
   shadow on hover */
}

/* Focus state */
.btn:focus {
  outline: none;
  /* Remove default outline */
  box-shadow: 0px 0px 0px 3px rgba(63, 81, 181, 0.18);
  /* Focus ring */
}

/* Active state */
.btn:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  /* More  
   pronounced shadow on active */
}
