@tailwind utilities;

#cod-header {
    margin-bottom: 25px;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.cod-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

/* Temp top banner */
#we-are-back-banner {
    text-align: center;
    background-color: #212529;
    color: white;
    border-bottom: black solid 1px;
}

/* Custom Header Colors */
#cod-header.black-ops {
    background: #F96800 !important;
}

#cod-header a {
    color: white !important;
}

#cod-header.warzone,
#cod-header.mwr {
    background: #198754 !important;
}

#cod-header.modern-warfare,
#cod-header.cold-war,
#cod-header.vanguard {
    background: #DC3545 !important;
}

#cod-header.mw2 {
    background: #79C22B !important;
}

#cod-header.ww2 {
    background: #9C800F !important;
}

#cod-header.infinite-warfare {
    background: #FFFF02 !important;
}

#cod-header.infinite-warfare a {
    color: #000 !important;
}

#cod-header.waw {
    background: #6C757D !important;
}

/* Cutom Button Colors */
/* Black Ops Orange - #F96800 */
.btn-black-ops {
    color: #ffffff;
    background-color: #F96800;
    border-color: #F96800;
}

.btn-black-ops:hover,
.btn-black-ops:focus,
.btn-black-ops:active,
.btn-black-ops.active,
.open .dropdown-toggle.btn-black-ops {
    color: #ffffff;
    background-color: #E05D00;
    border-color: #F96800;
}

.btn-black-ops:active,
.btn-black-ops.active,
.open .dropdown-toggle.btn-black-ops {
    background-image: none;
}

.btn-black-ops.disabled,
.btn-black-ops[disabled],
fieldset[disabled] .btn-black-ops,
.btn-black-ops.disabled:hover,
.btn-black-ops[disabled]:hover,
fieldset[disabled] .btn-black-ops:hover,
.btn-black-ops.disabled:focus,
.btn-black-ops[disabled]:focus,
fieldset[disabled] .btn-black-ops:focus,
.btn-black-ops.disabled:active,
.btn-black-ops[disabled]:active,
fieldset[disabled] .btn-black-ops:active,
.btn-black-ops.disabled.active,
.btn-black-ops[disabled].active,
fieldset[disabled] .btn-black-ops.active {
    background-color: #F96800;
    border-color: #F96800;
}

.btn-black-ops .badge {
    color: #F96800;
    background-color: #ffffff;
}

/* Modern Warfare 2 Green - #79C22B */
.btn-mw2 {
    color: #ffffff;
    background-color: #79C22B;
    border-color: #79C22B;
}

.btn-mw2:hover,
.btn-mw2:focus,
.btn-mw2:active,
.btn-mw2.active,
.open .dropdown-toggle.btn-mw2 {
    color: #ffffff;
    background-color: #5f9822;
    border-color: #79C22B;
}

.btn-mw2:active,
.btn-mw2.active,
.open .dropdown-toggle.btn-mw2 {
    background-image: none;
}

.btn-mw2.disabled,
.btn-mw2[disabled],
fieldset[disabled] .btn-mw2,
.btn-mw2.disabled:hover,
.btn-mw2[disabled]:hover,
fieldset[disabled] .btn-mw2:hover,
.btn-mw2.disabled:focus,
.btn-mw2[disabled]:focus,
fieldset[disabled] .btn-mw2:focus,
.btn-mw2.disabled:active,
.btn-mw2[disabled]:active,
fieldset[disabled] .btn-mw2:active,
.btn-mw2.disabled.active,
.btn-mw2[disabled].active,
fieldset[disabled] .btn-mw2.active {
    background-color: #79C22B;
    border-color: #5f9822;
}

.btn-mw2 .badge {
    color: #79C22B;
    background-color: #ffffff;
}

/* Infinite Warfare - #FFFF02 */
.btn-infinite-warfare {
    color: #000;
    background-color: #FFFF02;
    border-color: #FFFF02;
}

.btn-infinite-warfare:hover,
.btn-infinite-warfare:focus,
.btn-infinite-warfare:active,
.btn-infinite-warfare.active,
.open .dropdown-toggle.btn-infinite-warfare {
    color: #000;
    background-color: #E6E600;
    /* New yellow */
    border-color: #FFFF02;
}

.btn-infinite-warfare:active,
.btn-infinite-warfare.active,
.open .dropdown-toggle.btn-infinite-warfare {
    background-image: none;
}

.btn-infinite-warfare.disabled,
.btn-infinite-warfare[disabled],
fieldset[disabled] .btn-infinite-warfare,
.btn-infinite-warfare.disabled:hover,
.btn-infinite-warfare[disabled]:hover,
fieldset[disabled] .btn-infinite-warfare:hover,
.btn-infinite-warfare.disabled:focus,
.btn-infinite-warfare[disabled]:focus,
fieldset[disabled] .btn-infinite-warfare:focus,
.btn-infinite-warfare.disabled:active,
.btn-infinite-warfare[disabled]:active,
fieldset[disabled] .btn-infinite-warfare:active,
.btn-infinite-warfare.disabled.active,
.btn-infinite-warfare[disabled].active,
fieldset[disabled] .btn-infinite-warfare.active {
    background-color: #FFFF02;
    border-color: #FFFF02;
}

.btn-infinite-warfare .badge {
    color: #FFFF02;
    background-color: #000;
}

/* WW2 */
.btn-ww2 {
    color: #FFFFFF;
    background-color: #9C800F;
    border-color: #9C800F;
}

.btn-ww2:hover,
.btn-ww2:focus,
.btn-ww2:active,
.btn-ww2.active,
.open .dropdown-toggle.btn-ww2 {
    color: #FFFFFF;
    background-color: #7D6710;
    border-color: #9C800F;
}

.btn-ww2:active,
.btn-ww2.active,
.open .dropdown-toggle.btn-ww2 {
    background-image: none;
}

.btn-ww2.disabled,
.btn-ww2[disabled],
fieldset[disabled] .btn-ww2,
.btn-ww2.disabled:hover,
.btn-ww2[disabled]:hover,
fieldset[disabled] .btn-ww2:hover,
.btn-ww2.disabled:focus,
.btn-ww2[disabled]:focus,
fieldset[disabled] .btn-ww2:focus,
.btn-ww2.disabled:active,
.btn-ww2[disabled]:active,
fieldset[disabled] .btn-ww2:active,
.btn-ww2.disabled.active,
.btn-ww2[disabled].active,
fieldset[disabled] .btn-ww2.active {
    background-color: #9C800F;
    border-color: #9C800F;
}

.btn-ww2 .badge {
    color: #9C800F;
    background-color: #FFFFFF;
}